/* Shamelessly stolen CSS from https://jgthms.com/web-design-in-4-minutes */
body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

h1,
h2,
strong {
  color: #333;
}
  
a {
    text-decoration: none;
}

h1 a {
    color: #333;
}

h1 a:visited {
    color: #333;
}

h1 a:hover {
    color: #777;
}

img {
    width: 100%;
}

figcaption {
    color: #999;
}

.highlight {
  padding: 1px 10px;
}

/* p code {
    background-color: #444;
    padding: 2px;
    color: #d0d0d0;
} */